<a class="skip" href="#inhalt">Zum Inhalt springen</a>
<header class="top">
  <div class="wrap top-inner">
    <a class="brand" href="./" aria-label="Emberwrath Startseite"><img class="px" src="img/logo.png" alt="Emberwrath" width="146" height="30"></a>
    <nav class="nav" id="hauptmenue" aria-label="Hauptmenü">
      <a href="./#klassen">Klassen</a>
      <a href="./#bosse">Bosse</a>
      <a href="welt">Welt</a>
      <a href="support">Support</a>
      <a class="nav-extra" data-link="login" href="spielen/">Anmelden</a>
      <a class="nav-extra btn primary big" data-link="play" href="spielen/">Jetzt spielen</a>
    </nav>
    <div class="top-actions">
      <a class="btn ghost" data-link="login" href="spielen/">Anmelden</a>
      <a class="btn primary" data-link="play" href="spielen/">Spielen</a>
    </div>
    <button class="menu-btn" type="button" aria-controls="hauptmenue" aria-expanded="false" aria-label="Menü"><span></span></button>
  </div>
</header>
